# Build directories
/build/*
!build/web/uploads
!build/web/uploads/**
/dist/
/nbproject/private/
/out/

# IDE specific files
.idea/
*.iml
*.iws
*.ipr
.settings/
.classpath
.project

# Compiled files
*.class
*.jar
*.war
*.ear

# Logs and databases
*.log
*.sqlite
*.db

# Local configuration files
**/application-local.properties
**/application-local.yml
**/config-local.properties
**/config-local.yml

# OS specific files
.DS_Store
Thumbs.db

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
