/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 30 Apr 2025, 3:26:45 PM
    Author     : Aziz
*/

.post_title {
    font-weight: 800;
    font-size: 30px;
}

.author_info {
    display: flex;
    align-items: center;
    padding-block: 15px;
    gap: 9px;
}

.author_pfp {
    width: 30px;
    height: 30px;
}

.author_link {
    text-decoration: none;
    color: #000000;
}

.author_link:hover {
    text-decoration: underline;
}

.author_pfp img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.date {
    margin-left: auto;
    color: #888;
}

.post {
    font-size: 20px;
}

.comment_form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
    margin-bottom: 10px;
}
.comment_form textarea {
    width: 100%;
    box-sizing: border-box;
    min-height: 40px;
    max-height: 300px;
    border: none;
    resize: none;
    border-radius: 8px;
    padding: 12px;
    font-size: 15px;
    background-color: #fefefe;
    outline: none;
}
.comment_form button {
    border: none;
    padding: 8px 16px;
    color: white;
    background-color: black;
    border-radius: 8px;
}

.line_seperator {
    margin-block: 25px;
    border: 1px solid #787878;
    border-radius: 50px;
}
.comment_header {
    display: flex;
    align-items: center;
    gap: 12px;
}

.comment_author_pfp {
    width: 34px;
    height: 34px;
}

.comment_author_pfp img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.comment_author_date {
    font-size: 12px;
    font-weight: 600;
}

.comment_body {
    margin-block: 12px;
}

.comment_seperator {
    border-color: #ededed;
    margin-bottom: 12px;
}